<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420410486516-4rkqqqpdm952a2lkp3v4qnihf89pmp6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420410486516-4rkqqqpdm952a2lkp3v4qnihf89pmp6s</string>
	<key>API_KEY</key>
	<string>AIzaSyCoxIhD1iIUrae1PnBYGGOWiBpB1iD7tWA</string>
	<key>GCM_SENDER_ID</key>
	<string>420410486516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>za.co.psg.flutterupskilling</string>
	<key>PROJECT_ID</key>
	<string>up-skilling-888dd</string>
	<key>STORAGE_BUCKET</key>
	<string>up-skilling-888dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420410486516:ios:1b09142e7312b8387bb8a1</string>
</dict>
</plist>