<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<!-- <key>teamID</key>
	<string>6S9P5XMDA2</string> -->
	<key>uploadBitcode</key>
	<true/>
	<key>compileBitcode</key>
	<true/>
	<key>uploadSymbols</key>
	<true/>
	<key>signingStyle</key>
	<string>automatic</string>
	<!-- <key>thinning</key>
	<string>&lt;none&gt;</string> -->
	<!-- <key>thinning</key>
	<string>&lt;none&gt;</string> -->
	
</dict>
</plist>






	<!-- for manula only -->
	<!-- <key>provisioningProfiles</key>
	<dict>
		<key>6S9P5XMDA2.za.co.psg.flutterupskilling</key>
		<string>f30b912c-13c5-4f8c-95bb-c768f2b65fb3</string>
	</dict> -->
	<!-- for manual only -->
	<!-- <key>signingCertificate</key>
	<string>Apple Development: Sizwe Mngadi (BXH86V6WDX)</string> -->